
# directories
.svn
build
compiled
config
doc
lib
.deps

src/metric/kickedout

# files
*.dat
*.png
*.pro.user

m4dLua
m4dLua_debug

test/calcGeodesic/m4dCalcGeodesic
test/calcParallel/m4dCalcParallel
test/testCircular/m4dTestCircular
test/testDatabase/m4dTestDatabase
test/testFWworldline/m4dTestFWworldline
test/testGeodesic/m4dTestGeodesic
test/testJacobi/m4dTestJacobi

test/calcGeodesic/m4dCalcGeodesic_debug
test/calcParallel/m4dCalcParallel_debug
test/testCircular/m4dTestCircular_debug
test/testDatabase/m4dTestDatabase_debug
test/testFWworldline/m4dTestFWworldline_debug
test/testGeodesic/m4dTestGeodesic_debug
test/testJacobi/m4dTestJacobi_debug

python/*.so
python/m4d.py
python/m4d.pyc

