
# directories
.svn
build
compiled
config
doc
lib
.deps

src/metric/kickedout

# files
*.dat
*.png
*.pro.user
*.pyc
*.user
*pre1

m4dLua
m4dLuad

test/calcGeodesic/m4dCalcGeodesic
test/calcParallel/m4dCalcParallel
test/testCircular/m4dTestCircular
test/testCPmotion/m4dTestCPmotion
test/testDatabase/m4dTestDatabase
test/testFWworldline/m4dTestFWworldline
test/testGeodesic/m4dTestGeodesic
test/testSimpleGeodesic/m4dTestSimpleGeodesic
test/testJacobi/m4dTestJacobi

test/calcGeodesic/m4dCalcGeodesic_d
test/calcParallel/m4dCalcParallel_d
test/testCircular/m4dTestCircular_d
test/testCPmotion/m4dTestCPmotion_d
test/testDatabase/m4dTestDatabase_d
test/testFWworldline/m4dTestFWworldline_d
test/testGeodesic/m4dTestGeodesic_d
test/testSimpleGeodesic/m4dTestSimpleGeodesic_d
test/testJacobi/m4dTestJacobi_d

python/*.so
python/m4d.py
python/m4d.pyc
python/*.txt
