
# directories
.svn
build
compiled
config
doc
lib
.deps

src/metric/kickedout

# files
*.dat
*.png
*.pro.user
*.pyc
*.user

m4dLua
m4dLuad

test/calcGeodesic/m4dCalcGeodesic
test/calcParallel/m4dCalcParallel
test/testCircular/m4dTestCircular
test/testCPmotion/m4dTestCPmotion
test/testDatabase/m4dTestDatabase
test/testFWworldline/m4dTestFWworldline
test/testGeodesic/m4dTestGeodesic
test/testSimpleGeodesic/m4dTestSimpleGeodesic
test/testJacobi/m4dTestJacobi

test/calcGeodesic/m4dCalcGeodesicd
test/calcParallel/m4dCalcParalleld
test/testCircular/m4dTestCirculard
test/testCPmotion/m4dTestCPmotiond
test/testDatabase/m4dTestDatabased
test/testFWworldline/m4dTestFWworldlined
test/testGeodesic/m4dTestGeodesicd
test/testSimpleGeodesic/m4dTestSimpleGeodesicd
test/testJacobi/m4dTestJacobid

python/*.so
python/m4d.py
python/m4d.pyc
python/*.txt
